{% extends 'student/basic.html' %}
{% block title %} OnlineExam {% endblock%}
{% block css %} 


 {%endblock %}
{%block body %}

<div class="container-fluid">
  <div class="row">
            <div class="col-4" style="background-color: darkslategrey ;padding-top: 15px;">
                <input style="float: left;" class="btn-outline-secondary" style="border-radius: 20px;padding: 5px;"  type="button" value="Back" onclick="history.back()"/>
            </div>
            <div class="col-3" style="background-color: darkslategrey ;text-align: center;"><br>
              
            </div>
            <div class="col-1" style="background-color: darkslategrey ;text-align: center;"><br>
              <div style="font-size: 1vw">
              <a href="studentpage" title="Home" class="text-light" style="float: left;"><i title="HOME" class="fa fa-home fa-2x"></i></a>
            </div>
          </div>
            <div class="col-1" style="background-color: darkslategrey ;text-align: center;"><br>
              <div style="font-size: 1vw">
                <a href="viewProfile" class="text-light" style="float: right;"><i  title="ViewProfile" class="fa fa-user fa-2x"></i></a>
                </div>
            </div>
            <div class="col-2" style="background-color: darkslategrey ;text-align: center;">
                <br>
                <h2 style="font-size: 2vw">Date: <span id="datetime"></span></h2>

                <script>
                    var dt = new Date();
                    document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
                </script>
            </div>
            <div class="col-1" style="background-color: darkslategrey ;text-align: center;"><br>
              <div style="font-size: 1vw">
                <a class="mytext" href="studentlogout"  title="Logout"><i class="fa fa-sign-out fa-2x"></i></a>
              </div>
            </div>
        </div>
</div>


<div class="container shadow-lg" style="border-radius: 30px; margin-top: 200px; background-color: rgba(88, 194, 236, 0.993);text-align: center; ">

<form action="handleUpdateProfilePic" method="POST"   enctype="multipart/form-data"  style="padding-top: 50px;padding-bottom: 50px;border:1px solid #ccc">
  {% csrf_token %}
   
      <label for="profilePic">Choose a profile picture:</label><br><br>
       <input type="file"
       id="avatar" name="profilePic"
       accept="image/png, image/jpeg">
       <br><br>
       <button style="width: 20vw;" class="btn-outline-primary" type="submit" >Submit</button>

     
  </form>
</div>
  

{% endblock%}