{% extends 'faculty/basic.html' %}
{% block title %} faculty {% endblock%}

{%block body %}
<style>
    
</style>
<div class="container-fluid">
  <div class="row">
            <div class="col-4" style="background-color: darkslategrey ;padding-top: 15px;">
                <input style="float: left;" class="btn-outline-secondary" style="border-radius: 20px;padding: 5px;"  type="button" value="Back" onclick="history.back()"/> 
            </div>
            <div class="col-3" style="background-color: darkslategrey ;text-align: center;"><br>
              
            </div>
            <div class="col-1" style="background-color: darkslategrey ;text-align: center;"><br>
              <div style="font-size: 1vw">
              <a href="facultypage" title="Home" class="text-light" style="float: left;"><i title="HOME" class="fa fa-home fa-2x"></i></a>
            </div>
          </div>
            <div class="col-1" style="background-color: darkslategrey ;text-align: center;"><br>
              <div style="font-size: 1vw">
                <a href="viewProfile" class="text-light" style="float: right;"><i  title="ViewProfile" class="fa fa-user fa-2x"></i></a>
                </div>
            </div>
            <div class="col-2" style="background-color: darkslategrey ;text-align: center;">
                <br>
                <h2 style="font-size: 2vw">Date: <span id="datetime"></span></h2>

                <script>
                    var dt = new Date();
                    document.getElementById("datetime").innerHTML = dt.toLocaleDateString();
                </script>
            </div>
            <div class="col-1" style="background-color: darkslategrey ;text-align: center;"><br>
              <div style="font-size: 1vw">
                <a class="mytext" href="facultylogout"  title="Logout"><i class="fa fa-sign-out fa-2x"></i></a>
              </div>
            </div>
        </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"style="text-align: center;">
          Successfully Uploaded
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-xs-12"></div>
        <div class="col-sm-6 col-md-6 col-xs-12 shadow-lg" style="border-radius: 20px; background-color: rgb(202, 143, 16);text-align: right;margin-top: 100px;padding-top: 25px;padding-bottom: 25px; padding-right: 100px;">
            <form method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                {{form.as_p }}
                <input class="btn-outline-primary " style=" width: 29vw;height: 40px; font-size:1vw;" type='submit' value='save' data-toggle="modal" data-target="#exampleModal"/>
            </form>
        </div>
        <div class="col-sm-3 col-md-3 col-xs-12"></div>
    </div>
</div>




{% endblock%}